<div class="row">
    <h2>Partije</h2>
    <table class="table" id="rooms" cellspacing="0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Igrač X</th>
            <th>Igrač O</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of games">
            <th><a [routerLink]="['../ViewGame', {id: game.id}]">{{game.id}}</a></th>
            <th><a [routerLink]="['../ViewPlayer', {id: game.player1.id}]">[{{game.player1.id}}] {{game.player1.username}}</a></th>
            <th><a [routerLink]="['../ViewPlayer', {id: game.player2.id}]">[{{game.player2.id}}] {{game.player2.username}}</a></th>
            <th><a [routerLink]="['../Play', {id: game.id}]">Igraj</a></th>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <img id="spinner" src="res/spinner.svg">
    <div id="alert"></div>
</div>